<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
<body>
  <div>
    <input
      id="searchInput"
      type="text"
      placeholder="Buscar..."
      oninput="searchItems()"
    >
  </div>

  <ul id="searchResults"></ul>

  <script>
    async function searchItems() {
      const searchTerm = document.getElementById("searchInput").value.toLowerCase();
      const searchResults = document.getElementById("searchResults");

      // Realizar solicitud al servidor para obtener resultados de búsqueda
      const response = await fetch(`/search?term=${searchTerm}`);
      const data = await response.json();

      // Limpiar resultados anteriores
      searchResults.innerHTML = "";

      // Mostrar los resultados encontrados
      data.forEach(item => {
        const li = document.createElement("li");
        li.textContent = item;
        searchResults.appendChild(li);
      });
    }
  </script>
</body>
</html>